{
  "defaults": {
    "font_name": "4x6"
  },
  "trains": {
    "font_name": "5x7",
    "offset": 15,
    "eta": {
      "x": 16,
      "y": 13
    },
    "stop": {
      "x": 40,
      "y": 7
    },
    "line": {
      "x": 8,
      "y": 7,
      "font_name": "7x13B",
      "radius": 12
    }
  },
  "offday": {
    "scrolling_text": {
      "x": 0,
      "y": 30,
      "width": 64
    },
    "time": {
      "x": 40,
      "y": 8
    },
    "conditions": {
      "x": 40,
      "y": 16
    },
    "temperature": {
      "x": 10,
      "y": 23
    },
    "wind_speed": {
      "x": 0,
      "y": -2
    },
    "wind_dir": {
      "x": 0,
      "y": -2
    },
    "wind": {
      "x": 40,
      "y": 23
    },
    "weather_icon": {
      "x": 2,
      "y": 1,
      "width": 15,
      "height": 15
    }
  },
  "network": {
    "font_name": "4x6",
    "background": {
      "width": 7,
      "height": 7,
      "x": 57,
      "y": 25
    },
    "text": {
      "x": 61,
      "y": 31
    }
  }
}
