{
	"news_ticker": {
		"always_display": false,
		"countdowns": true,
		"events": [
			{
				"event": "Christmas Day",
				"date": "2022-12-25"
			}
		],
		"date": true,
		"date_format": "%A, %B %-d"
	},
	"trains": {
		"apikey": "YOUR_API_KEY_HERE",
		"skip_next_trains": 0,
		"stops": {
			"6": [
				"631N"
			]
		}
	},
	"weather": {
		"apikey": "YOUR_API_KEY_HERE",
		"location": "Chicago,il,us",
		"metric_units": false
	},
	"time_format": "12h",
	"scrolling_speed": 2,
	"debug": false
}
