{
  "bases": {
    "1B": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "2B": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "3B": {
      "r": 255,
      "g": 235,
      "b": 59
    }
  },
  "final": {
    "inning": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "scrolling_text": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "nohit_text": {
      "r": 255,
      "g": 50,
      "b": 50
    }
  },
  "inning": {
    "break": {
      "number": {
        "r": 255,
        "g": 235,
        "b": 59
      },
      "text": {
        "r": 255,
        "g": 235,
        "b": 59
      },
      "due_up": {
        "r": 255,
        "g": 235,
        "b": 59
      },
      "due_up_divider": {
        "r": 255,
        "g": 235,
        "b": 59
      },
      "due_up_names": {
        "r": 255,
        "g": 235,
        "b": 59
      }
    },
    "number": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "arrow": {
      "up": {
        "r": 255,
        "g": 235,
        "b": 59
      },
      "down": {
        "r": 255,
        "g": 235,
        "b": 59
      }
    }
  },
  "outs": {
    "1": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "2": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "3": {
      "r": 255,
      "g": 235,
      "b": 59
    }
  },
  "atbat": {
    "batter": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "pitcher": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "strikeout": {
      "r": 255,
      "g": 235,
      "b": 59
    }
  },
  "batter_count": {
    "r": 255,
    "g": 235,
    "b": 59
  },
  "nohit_text": {
    "r": 255,
    "g": 110,
    "b": 110
  },
  "perfect_game_text": {
    "r": 255,
    "g": 110,
    "b": 110
  },
  "pregame": {
    "matchup": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "scrolling_text": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "start_time": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "warmup_text": {
      "r": 255,
      "g": 235,
      "b": 59
    }
  },
  "status": {
    "text": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "scrolling_text": {
      "r": 255,
      "g": 235,
      "b": 59
    }
  },
  "standings": {
    "nl": {
      "divider": {
        "r": 80,
        "g": 80,
        "b": 120
      }
    },
    "al": {
      "divider": {
        "r": 120,
        "g": 80,
        "b": 80
      }
    },
    "background": {
      "r": 0,
      "g": 0,
      "b": 0
    },
    "divider": {
      "r": 80,
      "g": 80,
      "b": 120
    },
    "stat": {
      "r": 201,
      "g": 201,
      "b": 181
    },
    "team": {
      "name": {
        "r": 201,
        "g": 201,
        "b": 181
      },
      "elim": {
        "r": 190,
        "g": 180,
        "b": 160
      },
      "clinched": {
        "r": 180,
        "g": 210,
        "b": 175
      },
      "stat": {
        "r": 201,
        "g": 201,
        "b": 181
      }
    }
  },
  "offday": {
    "scrolling_text": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "time": {
      "r": 245,
      "g": 245,
      "b": 245
    },
    "conditions": {
      "r": 235,
      "g": 235,
      "b": 245
    },
    "temperature": {
      "r": 255,
      "g": 160,
      "b": 160
    },
    "wind": {
      "r": 160,
      "g": 160,
      "b": 240
    },
    "weather_icon": {
      "r": 255,
      "g": 235,
      "b": 59
    }
  },
  "network": {
    "background": {
      "r": 255,
      "g": 0,
      "b": 0
    },
    "text": {
      "r": 255,
      "g": 255,
      "b": 255
    }
  },
  "default": {
    "background": {
      "r": 0,
      "g": 0,
      "b": 0
    },
    "text": {
      "r": 255,
      "g": 235,
      "b": 59
    }
  }
}
